

    <header>
        <div>
    <h1> Lorem ipsom</h1>
     </div> 
     <div>  
    <nav>
        <div class="table">
            <ul>
                <li class="menu">
                     <a routerLink="/accueil">Accueil</a>
                </li>
                <li>
                    <a routerLink="/accueil/subscribe" routerLinkActive="active">soucrire</a>
                </li>
                <li>
                     <a routerLink="/auth/login" routerLinkActive="active">login</a>
                </li>
                <li>
                    <a routerLink="/article" routerLinkActive="active">articles </a>
                </li>
                <li>
                    <a routerLink="/home" routerLinkActive="active">home </a>
                </li>
            </ul>
        </div>
    </nav>
</div> 
    </header>
    <div class="clear" style="clear:both"></div>
    <div> <div [ngClass]="'my-class'">home page</div> </div>


    <footer>
        <p>
            Copyright 2018 Nora BELHADJ toute reproduction interdite
        </p>        
    </footer>





