<!DOCTYPE html>
<html>
<head>
    <title>Lorem ispom</title>
    <meta charset="uft-8">
</head>
<body>
    <header>
        <h1> Lorem ipsom</h1>
    </header>
    <nav>
        <div class="table">
            <ul>
                <li class="menu">
                     <a routerLink="/accueil">Home</a>
                </li>
                <li>
                    <a routerLink="/accueil/subscribe" routerLinkActive="active">soucrire</a>
                </li>
                <li>
                     <a routerLink="/">Home</a>
                </li>
                <li>
                    <a>Accueil </a>
                </li>
                
            </ul>
        </div>
        
    </nav>
    <div class="clear" style="clear:both"></div>
    <footer>
        <p>
            Copyright 2018 Nora BELHADJ toute reproduction interdite
        </p>        
    </footer>

</body>
</html>



